@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scrollbar-color: #60A5FA #dddddd;
    scrollbar-width: thin;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}
html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
html::-webkit-scrollbar-track-piece  {
    background-color: #dddddd;
}
html::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    border-radius: 4px;
    background:#dddddd;
}
body{
    background-color: #f0f2f5 ;
}
.scrollBar{
    scrollbar-width: thin !important;
}